[submodule "src/main/cpp/org/purdue/ece/talos/monitor"]
	path = src/main/cpp/org/purdue/ece/talos/monitor
	url = https://github.com/e-puck2/monitor
[submodule "monitor"]
	path = monitor
	url = https://github.com/e-puck2/monitor.git
	branch = wifi
[submodule "src/main/cpp/org/purdue/ece/talos/monitor2"]
	path = src/main/cpp/org/purdue/ece/talos/monitor2
	url = https://github.com/e-puck2/monitor.git
	branch = wifi
[submodule "src/main/cpp/org/purdue/ece/talos/e-puck2_cpp"]
	path = src/main/cpp/org/purdue/ece/talos/e-puck2_cpp
	url = https://github.com/e-puck2/e-puck2_cpp.git
[submodule "src/main/cpp/org/purdue/ece/talos/esp-idf"]
	path = src/main/cpp/org/purdue/ece/talos/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "src/main/cpp/org/purdue/ece/talos/e-puck2-esp-wifi"]
	path = src/main/cpp/org/purdue/ece/talos/e-puck2-esp-wifi
	url = https://github.com/e-puck2/esp-idf.git
	branch = wifi
[submodule "src/main/cpp/org/purdue/ece/talos/e-puck2-esp-stable"]
	path = src/main/cpp/org/purdue/ece/talos/e-puck2-esp-stable
	url = https://github.com/e-puck2/esp-idf.git
	branch = e-puck
[submodule "src/main/cpp/org/purdue/ece/talos/e-puck2_main-processor"]
	path = src/main/cpp/org/purdue/ece/talos/e-puck2_main-processor
	url = https://github.com/e-puck2/e-puck2_main-processor.git
